/* Garante que o backdrop seja estilizado APENAS para o elemento <dialog> */
dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}
